<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
<test name="all-Tests">

<packages>

 <package name="AT" />
 <package name="BE" />
 <package name="BG" />
 <package name="CZ" />
 <package name="DE" />
 <package name="EE" />
 <package name="ES" />
 <package name="GR" />
 <package name="HR" />
 <package name="HU" />
 <package name="IT" />
 <package name="LT" />
 <package name="LV" />
 <package name="NL" />
 <package name="PL" />
 <package name="PT" />
 <package name="RO" />
 <package name="SI" />
 <package name="SK" />

</packages>
 <classes>
<!--         <class -->
<!--             name="LT.NewTest" > -->
<!-- 	            <methods> -->
<!-- 	            <include name="NewTest"></include> -->
<!-- 	            </methods> -->
<!--             </class> -->
    </classes>
</test>
</suite>